@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Montserrat:wght@300&family=Rubik:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: #236033;
    max-width: 100%;
}
.full-item {
    background-color: #3a9439;
    padding: 1%;
    position: fixed;
    top: 6.2%;
    .full-con {
        display: flex;
        .full-cont-title {
            padding: 1%;
            .full-title {
                font-size: 20px;
                width: 100%;
                font-weight: bold;
                margin: 10px 0px;
            }
        }
        .full-image {
            width: 60%;
            border-radius: 10px;
        }
    }
  
    .full-desc {
        overflow-y: scroll;
        padding: 0.6%;
        height: 250px;
        width: 100%;
        background-color: #69fa7e;
        border-radius: 10px;
        margin: 2% 0px;
    }
    .full {
        border-radius: 10px;
        padding: 10px 100px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        background-color: #69ff6c;
        &:hover {
            color: white;
            background-color: #389752;
            cursor: pointer;
        }
    }
   
   
   
}
.logo {
    position: fixed;
    width: 80%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    background-color: white;
    padding: 3% 10%;
    top: 0;
    display: flex;
    justify-content: space-between;
    justify-items: center;
      .shop-add {
        position: fixed;
        width: 80%;
        background-color: #ffffff;
        margin: 40px 0px;
        border-radius: 10px;
        box-shadow: 0px 1px 10px rgb(0, 0, 0);
        padding: 10px;
        .cart-item {
            margin-bottom: 20px;
            .FiDelete {
                color: #ff0000;
                transition: transform ease 500ms;
                &:hover {
                    transform: scale(1.25);
                    color: #7aff41;
                    cursor: pointer;
                }
            }
            .cart-cont {
                width: 60%;
                float: right;
                
            }
            .cart-img-cont {
               display: inline-block;
               width: 40%;
                .cart-image{
                    width: 80%;
                }
            }
        }
      }
      .luSprout {
        color: rgb(47, 110, 55);
        margin:0px 5px ;
        vertical-align: middle;
      }
      .icon {
        color: #000000;
        margin:0px 5px ;
        vertical-align: middle;
        transition: transform ease 500ms;
        &:hover {
            color: rgb(47, 110, 55);
            cursor: pointer;
            transform: scale(1.25);
        }
        &:active {
            color: #ff6666;
        }
    }
    .green {
        color: rgb(47, 110, 55);
    }
   }
.presentation {
    padding: 3% 10%;
    margin: 10% 0px;
    
    .img {
        background-color: #fdffd2;
        background-position: center center;
        border-radius: 10px;
        width: 100%;
        height: 440px;
        overflow: hidden;
        background-image: url(2.jpg);
    }
    h1{
        color: white;
        margin-bottom: 20px;
    }
    .text {
        color: white;
        margin-bottom: 20px;
    }
  
}
.Belorus {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.textik {
    margin-top: 4%;
    padding: 0% 30%;
    color: #969696;
    width: 50%;
}
.Advantages {
    padding: 5% 10% ;
    background-color: #ffffff;
    .adv {
        font-size: 25px;
        font-weight: bold;
    }
    .dostavk {
        padding: 4% 5%;
        margin: 15% 40%;
        border: 4px solid #236033;
        border-radius: 50%;
        width: 10%;
        .grus {
            color: #236033;
        }
    }
}
.WorkTime {
    padding: 10% 20%;
    .worktitle {
        color: #ffffff9f;
        text-align: center;
        margin-bottom: 1%;
    }
    .worktime {
        color: #ffffff;
        text-align: center;
    }
}
.Select {
    background-color: #d1d0d0;
    padding: 10%;
    .organcosmet {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    .blogo {
     font-size: 20px;
     font-weight: bold;
    }
    .selector {
        margin-left: 5%;
        .imachka {
            width: 40%;
            display: inline-block;
            margin: 10% 20%;
            .photoch {
                width: 100%;
                border-radius: 10px;
            }
        }
        .arrow {
            width: 10%;
            display: inline-block;
            color: #6d6d6d;
        }
    }
}
.Aside {
    .nav {
        height:100%;
        .catalog {
            display: inline-block;
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: #969696;
            }
        }
        }
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    &:hover {
        cursor: pointer;
        color: #969696;
    }
}
.items {
    padding: 10%;
    background-color: rgb(255, 255, 255);
    .title {
        margin: 10px 0px;
    }
    .image {
        width: 100%;
        height: auto;
        margin-top: 10%;
        border-radius: 10px;
    }
   
    .contin {
        display: flex;
        justify-content: space-between;
        .corsina {
            padding: 10px;
            border: 4px solid #389752 ;
            border-radius: 20px;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
            &:hover {
                color: white;
                background-color: #389752;
                cursor: pointer;
            }
        }
        .full {
            border: 4px solid #389752 ;
            border-radius: 20px;
            padding: 10px 100px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            
            &:hover {
                color: white;
                background-color: #389752;
                cursor: pointer;
            }
        }
    }
    .showthiscatalog {
        background-color: rgb(255, 255, 255);
    }
}